// @import "fonts";
@import '../../bower_components/guss-typography/_typography.scss';
@import "palette";
@import "mq";
@import "general";
@import "share";

.element-interactive {
	@include fs-textSans(3);
	overflow-x: hidden;
	opacity: 1 !important;

	.table-wrapper {
		width: 50%;

		&.table-wrapper-0 {
			float: left;
		}

		&.table-wrapper-1 {
			float: right;
		}

		.total {
			text-align: center;
			width: 100%;

			.title {
				@include fs-textSans(1);
				// font-size: 10px;
				color: #bdbdbd;
			}

			.count {
				font-size: 18px;
				font-weight: 400;
			}
		}

		table {
			width: 100%;
			max-width: 400px;
			text-align: left;
			margin: auto;
			margin-top: 12px;

			th {
				border-bottom: 1px solid #bdbdbd;
				width: 25%;
				font-weight: 300;
				color: #333;
				padding: 0 !important;
			}

			td {
				background-color: #fff !important;
				padding: 0 !important;
				padding-top: 4px !important;
			}

			.economic {
				white-space: nowrap; padding-bottom: 4px; color: #767676;
			}
		}
 	}

	svg {
		margin: auto;
		margin-top: 24px;

		.small-circle {
			transition: fill-opacity 0.2s ease-in;
		}
		.small-circle:hover {
			fill-opacity: 0.4 !important;
		}

		text {
			pointer-events: none;
		}
	}

	// .svg-one {
	// 	table {
	// 		padding-right: 20px;
	// 	}
	// }

	svg .circle-label {
		@fs-textSans(1);
		font-size: 9px;
	}

	.middle {
		max-width: 620px;
		margin: auto;

		&.padding-top {
			margin-top: 24px;
		}
	}
}

.tooltip {
	@include fs-textSans(2);
	background-color: rgba(255, 255, 255, 1);
	padding: 6px 5px;
	border: 1px solid #eaeaea;
	width: 240px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;

	@include mq($until: desktop) {
		display: none !important;
	}

	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 5px;
		margin-left: -5px;
	}
	&:before {
		border-color: rgba(234, 234, 234, 0);
		border-top-color: #eaeaea;
		border-width: 6px;
		margin-left: -6px;
	}
}

.tooltip__country {
	font-weight: 900;
	display: block;
}

.tooltip__when {
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #767676;
	display: block;

	b {
		color: #000;
		font-weight: 900;
	}
}

.int-h1 {
	@include fs-header(2);
}

.int-h2 {
	@include fs-bodyCopy(1);
	color: #767676;
}
