@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";

html, body,
.element-interactive {
	@include fs-textSans(3);
	min-height: 1000px;

	h1 {
		@include fs-header(3);
		margin-bottom: 4px;
	}

	.subheading {
		margin: 0;
		color: #767676;
	}

	.block {
		margin-bottom: 84px;
		overflow: hidden;
	}

	.svg {
		float: left;
		margin-top: 24px;

		.small-circle {
			transition: fill-opacity 0.2s ease-in;
		}
		.small-circle:hover {
			fill-opacity: 0.4 !important;
		}

		text {
			pointer-events: none;
		}

		.total {
			text-align: center;
			width: 100%;

			.title {
				@include fs-textSans(1);
				// font-size: 10px;
				color: #bdbdbd;
			}

			.count {
				font-size: 18px;
				font-weight: 400;
			}
		}

		table {
			width: 400px;
			text-align: left;
			margin: auto;
			margin-top: 36px;

			th {
				border-bottom: 1px solid #bdbdbd;
				width: 25%;
				font-weight: 300;
				color: #333;
			}

			td {
				padding-top: 4px;
			}
		}
	}

	// .svg-one {
	// 	table {
	// 		padding-right: 20px;
	// 	}
	// }

	svg .circle-label {
		@fs-textSans(1);
		font-size: 9px;
	}

	.middle {
		max-width: 620px;
		margin: auto;
	}
}

.tick text {
	@include fs-textSans(2);
}

line.hover {
	pointer-events: none;
}